@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria : #01011C;
    --cor-secundaria : #F5FEFB;
    --cor-terciaria : #22D4FD;
    --cor-hover : #020230;

    --font-primaria : 'Krona One', sans-serif;
    --font-secundaria : 'Montserrat', sans-serif;
}

*{
    margin:0px;
    padding:0px;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    size: 2rem;
}
.cabecalho__menu{
    display:flex;
    padding: 2% 0% 0% 15%;
    gap: 2%;

}
.cabecalho__menu__links{
    font-family: var(--font-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    text-decoration: none;
    
}

.titulo-destaque{
    color: var(--cor-terciaria) ;
}

.apresentacao{
    margin: 5% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.apresentacao__conteudo{
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    
}

.apresentacao__conteudo__titulo{
    font-size:2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__paragrafo{
    font-size:1.5rem;
    font-family:var(--font-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__links__subtitulo{
    font-size:1.5rem;
    font-family: var(--font-secundaria);
    font-weight:400;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 16px;
    text-decoration:none;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-align:center;
    color:var(--cor-secundaria);
    font-family:var(--font-secundaria);
    font-weight:600;
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

.nome_hover:hover{
    color:var(--cor-terciaria);
}

.rodape{
    background-color:var(--cor-terciaria);
    color: #020230;
    text-align: center;
    padding:24px;
    font-family:var(--font-secundaria);
    font-weight:400px;
}

.apresentacao__curriculo{
    font-size:1.12rem;
    font-family:var(--font-secundaria);
    font-weight: 100;
}

.apresentacao__curriculo__titulo{
    font-size:1.75rem;
    font-family: var(--font-primaria);
    
}
.apresentacao__imagem{
    width: 50%;
    
}
@media (max-width: 1200px){
    .cabecalho{
        padding: 8%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% ;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__conteudo__titulo{
        justify-content: center;
    }
}